<h1><%= @activities.id ? 'Edit Activity' : 'Create Activity' %></h1>
<br>
<%= form_for [@list, @activities] do |f| %>
  <%= f.label :type %>
  <%= f.text_field :type, required: true, autofocus: true %>
  
  <!-- <%= f.label :body %>
  <%= f.text_area :body, required: true %> -->
  <%= f.submit %>
<% end %>